In [1]:
import numpy as np
import pandas as pd

In [ ]:
pd.isnull(np.nan)

In [2]:
pd.isnull(None)

True

In [3]:
pd.isna(np.nan)

True

In [ ]:
pd.isna(None)

The opposite ones also exist:

In [4]:
pd.notnull(None)

False

In [ ]:
pd.notnull(np.nan)

In [ ]:
pd.notna(np.nan)

In [ ]:
pd.notnull(3)

These functions also work with Series and `DataFrame`s:

In [4]:
pd.isnull(pd.Series([1, np.nan, 7]))

0    False
1     True
2    False
dtype: bool

In [ ]:
pd.notnull(pd.Series([1, np.nan, 7]))

In [5]:
pd.isnull(pd.DataFrame({
    'Column A': [1, np.nan, 7],
    'Column B': [np.nan, 2, 3],
    'Column C': [np.nan, 2, np.nan]
}))

   Column A  Column B  Column C
0     False      True      True
1      True     False     False
2     False     False      True

### Pandas Operations with Missing Values

In [6]:
pd.Series([1, 2, np.nan]).count()

np.int64(2)

In [7]:
pd.Series([1, 2, np.nan]).sum()

np.float64(3.0)

In [8]:
pd.Series([2, 2, np.nan]).mean()

np.float64(2.0)

### Filtering missing data

As we saw with numpy, we could combine boolean selection + `pd.isnull` to filter out those `nan`s and null values:

In [9]:
s = pd.Series([1, 2, 3, np.nan, np.nan, 4])

In [10]:
pd.notnull(s)

0     True
1     True
2     True
3    False
4    False
5     True
dtype: bool

In [ ]:
pd.isnull(s)

In [ ]:
pd.notnull(s).sum()

In [ ]:
pd.isnull(s).sum()

In [ ]:
s[pd.notnull(s)]

But both `notnull` and `isnull` are also methods of `Series` and `DataFrame`s, so we could use it that way:

In [ ]:
s.isnull()

In [ ]:
s.notnull()

In [11]:
s[s.notnull()]

0    1.0
1    2.0
2    3.0
5    4.0
dtype: float64

### Dropping null values

In [ ]:
s

In [ ]:
s.dropna()

### Dropping null values on DataFrames

In [ ]:
df = pd.DataFrame({
    'Column A': [1, np.nan, 30, np.nan],
    'Column B': [2, 8, 31, np.nan],
    'Column C': [np.nan, 9, 32, 100],
    'Column D': [5, 8, 34, 110],
})

In [ ]:
df

In [ ]:
df.shape

In [ ]:
df.info()

In [ ]:
df.isnull()

In [ ]:
df.isnull().sum()

The default `dropna` behavior will drop all the rows in which _any_ null value is present:

In [ ]:
df.dropna()

In [ ]:
df.dropna(axis=1)  # axis='columns' also works

In this case, any row or column that contains **at least** one null value will be dropped. Which can be, depending on the case, too extreme. You can control this behavior with the `how` parameter. Can be either `'any'` or `'all'`:

In [ ]:
df2 = pd.DataFrame({
    'Column A': [1, np.nan, 30],
    'Column B': [2, np.nan, 31],
    'Column C': [np.nan, np.nan, 100]
})

In [ ]:
df2

In [ ]:
df.dropna(how='all')

In [ ]:
df.dropna(how='any')  # default behavior

You can also use the `thresh` parameter to indicate a _threshold_ (a minimum number) of non-null values for the row/column to be kept:

In [ ]:
df

In [ ]:
df.dropna(thresh=3)

In [ ]:
df.dropna(thresh=3, axis='columns')

### Filling null values

In [ ]:
s

**Filling nulls with a arbitrary value**

In [ ]:
s.fillna(0)

In [ ]:
s.fillna(s.mean())

In [ ]:
s

**Filling nulls with contiguous (close) values**

The `method` argument is used to fill null values with other values close to that null one:

In [ ]:
s.fillna(method='ffill')

In [ ]:
s.fillna(method='bfill')

This can still leave null values at the extremes of the Series/DataFrame:

In [ ]:
pd.Series([np.nan, 3, np.nan, 9]).fillna(method='ffill')

In [ ]:
pd.Series([1, np.nan, 3, np.nan, np.nan]).fillna(method='bfill')

### Filling null values on DataFrames

The `fillna` method also works on `DataFrame`s, and it works similarly. The main differences are that you can specify the `axis` (as usual, rows or columns) to use to fill the values (specially for methods) and that you have more control on the values passed:

In [ ]:
df

In [ ]:
df.fillna({'Column A': 0, 'Column B': 99, 'Column C': df['Column C'].mean()})

In [ ]:
df.fillna(method='ffill', axis=0)

In [ ]:
df.fillna(method='ffill', axis=1)

### Checking if there are NAs

In [ ]:
s.dropna().count()

In [ ]:
missing_values = len(s.dropna()) != len(s)
missing_values

There's also a `count` method, that excludes `nan`s from its result:

In [ ]:
len(s)

In [ ]:
s.count()

So we could just do:

In [ ]:
missing_values = s.count() != len(s)
missing_values